:root{
    --bg-primary: #0571ff;
    --text-primary: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    background-color: var(--bg-primary);
    width: 100vw;
    height: 100vh;
}